# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Build/output
dist/
build/
coverage/
.out/
.vercel/
.tmp/

# Envs
.env
.env.*.local

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo